// index.less

div.footer-section {
    display: flex;
    background-color: black;
    padding: 40px;
    color: white;
    letter-spacing: 1px;
    a { text-decoration: none; color: inherit; }
    div.footer-section-main-panel {
        flex: auto;
        display: flex;
        flex-direction: column;
        padding: 10px 40px 0px;
        div.footer-section-main-panel-logos {
            flex: none;
            margin-bottom: 2em;
            div.footer-section-main-panel-logo {
                margin-bottom: 1em;
                a {
                    img {
                        display: block; height: 1.7em;
                        margin-bottom: 0.5em;
                    }
                    span { font-size: 0.7em; }
                }
            }
        }
        div.footer-section-main-panel-copyright {
            flex: auto;
            margin-bottom: 2em;
            font-size: 0.8em;
        }
        div.footer-section-main-panel-apps {
            flex: none;
            div.footer-section-main-panel-app {
                margin-bottom: 0.5em;
                a {
                    font-weight: 300;
                    img {
                        width: auto; height: 1.5em;
                        margin-right: 0.5em;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
    div.footer-section-link-panel {
        flex: auto;
        border-left: 1px solid rgb(38, 38, 38);
        padding: 10px 40px 40px;
        div.footer-section-link-panel-header {
            margin-bottom: 1.3em;
            div.footer-section-link-panel-header-title {
                display: inline-block;
                font-size: 1.2em;
                font-weight: 600;
            }
            div.footer-section-link-panel-header-description {
                display: inline-block;
                margin-left: 1em;
                font-size: 0.8em;
            }
        }
        div.footer-section-link-panel-links {
            display: flex;
            font-size: 0.8em;
            div.footer-section-link-panel-link-titles {
                flex: none;
                transition: color .6s ease;
                a.footer-section-link-panel-link-title-anchor {
                    display: block;
                    height: 1.5em;
                    margin-bottom: 1.5em;
                    padding-right: 2em;
                    img {
                        width: auto; height: 1.5em;
                        margin-right: 0.5em;
                        vertical-align: middle;
                    }
                    span { }
                }
            }
            div.footer-section-link-panel-link-descriptions {
                flex: auto;
                color: dimgray;
                transition: color .6s ease;
                a.footer-section-link-panel-link-description-anchor {
                    display: block;
                    margin-bottom: 1.5em;
                    height: 1.5em;
                    span {
                        font-size: 0.9em;
                        vertical-align: text-bottom;
                    }
                }
            }
        }
    }
}
